body {
  margin: 0 auto 20px;
  min-width: 700px;
  max-width: 1200px;
  min-height: 100vh;
  background-color: #e5e5e5;
}
.form {
  width: 100%;
  background-color: #f9f9f9;
  padding: 4% 4% 100px;
  box-sizing: border-box;
}
.title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 64px;
  padding-left: 48px;
  padding-bottom: 79px;
}
.title-small {
  font-size: 14px;
  padding-left: 48px;
  padding-bottom: 24px;
}
.subtitle {
  font-size: 20px;
  font-weight: bold;
  padding-top: 32px;
  padding-left: 48px;
  padding-bottom: 32px;
}
.red_star {
  color: red;
}
.size-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid rgba(209, 209, 209, 1);
  padding-bottom: 30px;
  padding-left: 48px;
}
.size-block > div {
  width: 48%;
  margin: 8px 0;
}
.input {
  width: 392px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  border-color: #adadad;
}
.grey {
  width: 392px;
  height: 40px;
  border-radius: 4px;
  border-color: #adadad;
  background-color: #efefef;
}
.input_blue {
  color: #0050d8;
  width: 392px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  border-color: #adadad;
}
.empty {
  visibility: hidden;
}
.checkbox {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  border-radius: 2px;
  margin-right: 5px;
  accent-color: rgba(255, 0, 255, 1);
}
.input-search {
  width: 392px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  border-color: #adadad;
  background-image: url(../img/search-line.svg);
  background-repeat: no-repeat;
  background-position: right;
}
.input-search-blue {
  color: #0050d8;
  width: 392px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  border-color: #adadad;
  background-image: url(../img/search-line.svg);
  background-repeat: no-repeat;
  background-position: right;
}
#input-box-blue::placeholder {
  color: #0050d8;
}
.form-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
}
button {
  width: 70px;
  height: 40px;
  background-color: #0050d8;
  border-radius: 4px;
  border-style: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
