body {
    margin: 0;
  }
  .form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1024px;
    min-width: 700px;
    max-width: 1200px;
    background-color: #001124;
  }
  .text {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 20px;
    padding-left: 90px;
  }
  .input-box {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 361px;
    padding-bottom: 11px;
  }
  .input {
    height: 43px;
  }
  .title {
    color: white;
    font-size: 45px;
    padding-bottom: 42px;
  }
  .btn {
    display: flex;
    padding-top: 11px;
    justify-content: center;
  }
  .btn-txt {
    width: 180px;
    height: 43px;
border-radius: 5px;
    background-color: #015fc7;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
  }

